:root {
    --text-color: #011627; /* black */
    --primary-accent: #FF3366; /* pink */
    --secondary-accent: #2EC4B6; /* sea */
    --bg-color: #F6F7F8; /* light */
    --tertiary-accent: #20A4F3; /* blue */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    left: 0;
    right: 0;

}

/* Header */

.header {
    position: absolute;
    width: 100vw;
}

.header h1 {
    font-size: 65px;
    font-weight: 100;
    text-align: center;
    animation: focus-in-contract 1s linear;
}

.header p {
    text-align: center;
    position: relative;
    top: -40px;
    /*animation: focus-in-contract 1s linear;*/
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    font-size: 1em;
}

.social-media-icons {
    color: var(--primary-accent);
    font-size: 50px;
    position: relative;
    top: -60px;
    text-align: center;
}

.social-media-icons i {
    margin-top: 25px;
    /* animation: focus-in-contract 1s linear; */
    transition: transform 0.5s ease;
    cursor: pointer;
}

.social-media-icons a {
    text-decoration: none;
    color: var(--primary-accent);
}

.social-media-icons i:hover {
    transform: scale(1.1);
}

.menu {
    position: relative;
    top: 300px;
    animation: focus-in-contract 1s linear;
    padding: 10px;
    margin-bottom: 50px;
}

.content, .menu {
    text-align: center;
}

.menu {
    margin-bottom: 0;
}

.projects .projects-text {
    text-align: center;
}

.projects {
    display: none;
}

.content-section {
    display: none; /* Hide all sections initially */
    position: relative;
    top: 350px;
    margin-bottom: 400px;
}

#content-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 65%;
}

.center {
    text-align: center;
}

select {
    background-color: var(--secondary-accent);
    color: var(--text-color);
    font-family: inherit;
    font-size: 2em;
    text-align: center;
}

footer {
    background-color: var(--primary-accent);
    color: var(--bg-color);
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: .75em;
    padding: 3px;
}

.tagged {
    background-color: var(--secondary-accent);
    color: var(--text-color);
    padding: 1px;
    border-radius: 4px;
}

.tagged-2 {
    background-color: var(--tertiary-accent);
    color: var(--bg-color);
    padding: 1px;
    border-radius: 4px;
}

.tagged-3 {
    background-color: var(--primary-accent);
    color: var(--bg-color);
    padding: 1px;
    border-radius: 4px;
}

.tagged:hover {
    background-color: var(--text-color);
    color: var(--secondary-accent);
}

.tagged-2:hover {
    background-color: var(--text-color);
    color: var(--tertiary-accent);
}

.tagged-3:hover {
    background-color: var(--text-color);
    color: var(--primary-accent);
}

a {
    color: var(--tertiary-accent);
}

.vertical-text {
    position: fixed;
    writing-mode: vertical-rl; /* Keeps text vertical */
    font-size: 24px; /* Set base font size */
    white-space: nowrap; /* Prevents text from wrapping */
    transform: scale(1.5); /* Enlarges text without breaking lines */
    transform-origin: top left; /* Keeps scaling aligned to top */
    color: #333;
}

.vertical-text.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.6em;
}

.vertical-text.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.6em;
}

.text-color {
    color: var(--text-color);
}

.tertiary-accent {
    color: var(--tertiary-accent);
}

.primary-accent {
    color: var(--primary-accent);
}

.secondary-accent {
    color: var(--secondary-accent);
}

@media (max-width: 1000px) {
    .vertical-text {
        display: none;
    }
}

@media (max-width: 475px) {
    .vertical-text {
        display: none;
    }

    .social-media-icons a {
        display: none;
    }
}